venv
**/venv/
arquivos_publicos
arquivos_recebidos
dist
build
**/dist/
**/build/
*.spec
**/bin/
**/obj/
.vs/
*.user
TestResults/
**/TestResults/

__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
**/.pytest_cache/
.ruff_cache/
**/.ruff_cache/
.coverage
htmlcov/
installer/output/
