<?xml version="1.0" encoding="utf-8"?>
<!--
  Framework-Dependent (win-x64): exige .NET 8 Desktop + ASP.NET Core Runtime.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\dist\fdd\</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
  </PropertyGroup>
</Project>
